[Unit]
Description=Dolly client daemon
After=network.target
After=firewalld.service
After=iptables.service
Documentation=https://github.com/openSUSE/dolly

[Service]
Type=simple
Restart=no
Environment="PASS=opensuse"
Environment="HOSTNAME=%H"
ExecStart=/usr/sbin/dolly -v -P ${PASS}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
